/* body{
    background-image: url('../img/css_background');
} */
body{
    background-color: black;
    margin: 0px;
}
/* header{
    justify-content: center;
    background: fixed;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
} */
main{
    background-color: blue;
    margin: 70px 150px 30px;
    padding: 30px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 10px;
}
